h1.head {
  text-align: center;
  color: red;
  font-weight: bold;
}
h2.head {
  font-family: Lucida, sans-serif;
  font-style: italic;
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 30px;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

ol {
  font-size: 20px;
  line-height: 30px;
}

.keyboard {
  image: float-left;
}